body {
    font-family: "Merriweather", sans-serif;
}

/*Is there a better way to align items center vertically?*/
.header {
    display: flex;
    justify-content: center;
	align-items: center;
    margin-top: 20%;
}

.code {
    font-family: "Roboto Mono";font-size: 35px, monospace; /*Replace fallback font, monospace is fine though*/
    color: rgb(70, 70, 70)
}

.container {
    display: flex;
    justify-content: center;
    font-size: 10px;
}

.container > a {
    margin-top: 30px;
    display: flex;
    text-decoration: none;
    background-color: rgb(74, 144, 241);
    color: white;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 2em;
    box-shadow: inset 0 0 0 3px rgb(28, 7, 148);
    transition: background-color 250ms cubic-bezier(0.83, 1, 0.86, 0.48), color 300ms ease-out;
}

.container > a:hover {
    background-color: rgb(125, 187, 248);
    color: black;
}