body {
    font-family: "Merriweather", sans-serif;
    padding: 17vh 40px 0px 40px;
}

/*Is there a better way to align items center vertically?*/
.header {
    /*
    display: flex;
    justify-content: center;
	align-items: center;
    */
    font-size: calc(2.5rem + 10px);
    text-align: center;
}

.code {
    color: rgb(70, 70, 70);
    font-style: italic;
}

.buttoncontainer {
    margin-bottom: 30vh;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 10px;
}

.buttoncontainer > a {
    margin: 0px 10px;
    display: flex;
    text-decoration: none;
    background-color: rgb(74, 144, 241);
    color: white;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 1.35rem;
    box-shadow: inset 0 0 0 3px rgb(28, 7, 148);
    transition: background-color 250ms cubic-bezier(0.83, 1, 0.86, 0.48), color 300ms ease-out;
}

.buttoncontainer > a:hover {
    background-color: rgb(125, 187, 248);
    color: black;
}

.infocontainer {
    color: white;
    display: grid;
    grid-template-columns: repeat(2, minmax(180px, 1fr));
    text-align: center;
    gap: 30px;
}

.infocontainer > div {
    background: #666df3;
    border-radius: 25px;
    padding: 60px 30px;
    border: 5px solid rgba(21, 3, 73, 0.2);
}

h2 {
    font-size: 2rem;
}

.infotext {
    font-size: 1.3rem;
}
