body {
	margin: 0;
	padding: 1rem;
	font-family: Inter;
}

.navbar {
	position: absolute;
	width: 35vw;
	height: 10vh;
	background-color: white;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 1rem;
	left: 50%;
	top: 5%;
	transform: translateX(-50%);
	overflow: hidden;
}

.hero-title {
	text-align: center;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
	font-size: 5em;
}
.clever {
	color: #FE35B7;
	font-style: italic;
}
.s2 {
	position: absolute;
	border-radius: 1.5rem;
	width: 8rem;
	height: 8rem;
	background: linear-gradient(to bottom left, #FE35B7 0%, #FB4CEA 100%);
	box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px;
	rotate: 30deg;
	left: 5rem;
	top: 50%;
	animation: float 3s infinite;
	animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
}
.s1 {
	position: absolute;
	border-radius: 1rem;
	width: 6rem;
	height: 6rem;
	background: linear-gradient(to bottom left, #E932CAff 0%, #E97E3C 100%);
	box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px;
	rotate: 67deg;
	right: 5rem;
	top: 50%;
	animation: float 3s infinite;
	animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
}

@keyframes float {
	0% {
		transform: translate(0, 0);
	}
	50% {
		transform: translate(0.5rem, 0.5rem);
	}
	100% {
		transform: translate(0, 0);
	}
}

.hero-buttons {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 3rem;
}

.hero-cta {
	background-color: white;
	position: relative;
	top: 75vh;
	padding: 1rem 2rem;
	border-radius: 3rem;
	border: 1px solid #FE35B7;
	font-weight: bold;
	font-size: 1.1em;
	cursor: pointer;
	transition: background-color 0.1s, color 0.1s;
}
.btn1 {
	background-color: black;
	border: none;
	color: white;
	cursor: pointer;
}
.anchors {
	width: 100%;
	display: flex;
	gap: 1rem;
	text-align: center;
	justify-content: center;
	align-items: center;
}
.anchor {
	display: block;
	transform: translate(-50%, -50%);
	position: relative;
	text-decoration: none;
	color: black;
	left: 1vw;
	top: 5vh;
	cursor: pointer;
	background-color: white;
	border-radius: 1rem;
	width: 5vw;
	transition: color 0.25s, background-color 0.25s;
	padding: 5px 5px;
}
.anchor:hover {
	background-color: rgba(254, 53, 183, 0.3);
	color: rgb(253, 1, 164);
}

.btn2:hover {
	background-color: #FE35B7;
	color: white;
	border: 1px solid #FE35B7;
}
.btn1:hover {
	background-color: white;
	color: black;
	border: 1px solid rgba(0, 0, 0, 0.4);
}